{% extends 'main/base.html' %}

{% block title %}
    История поиска
{% endblock %}

{% block header %}
    <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Погода</a></li>
    <li class="nav-item"><a href="#" class="nav-link active">История</a></li>
    <li class="nav-item"><a href="{% url 'about-api' %}" class="nav-link">Об API</a></li>
    <li class="nav-item"><a href="{% url 'about-site' %}" class="nav-link">О сайте</a></li>
{% endblock %}

{% block body %}
    <h1>История поиска</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Город</th>
            <th scope="col">Количество поисков</th>
            <th scope="col">Последний поиск</th>
        </tr>
        </thead>
        <tbody>
        {% for history in history %}
            <tr>
                <td>{{ history.city }}</td>
                <td>{{ history.search_count }}</td>
                <td>{{ history.last_searched }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}