{% extends 'main/base.html' %}

{% block title %}
    Прогноз погоды
{% endblock %}

{% block body %}
    <h1>Главная страница</h1>
    <form method="get">
        <input type="text" name="city" placeholder="Введите название города" value="{{ weather_data.input_city }}" required>
        <button type="submit">Узнать погоду</button>
    </form>
    {% if status %}
        {% if status == 'ok' %}
            <h2>Погода в {{ weather_data.city }}:</h2>
            <h6>Полный адрес: {{ weather_data.full_address }}</h6>
            <h6>Координаты: {{ weather_data.lat }}, {{ weather_data.lon }} </h6>
            <p>Погода: {{ weather_data.weather_description }}</p>
            <p>Температура: {{ weather_data.temperature }}°C</p>
        {% elif status == 'city_not_found' %}
            <p>Город {{ weather_data.input_city }} не найден!</p>
        {% elif status == 'weather_error' %}
            <p>Произошла ошибка при получении погоды!</p>
        {% else %}
            <p>Произошла неизвестная ошибка!</p>
        {% endif %}
    {% endif %}
    <a href="{% url 'history' %}">Посмотреть историю поиска</a>
{% endblock %}