{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Погода
{% endblock %}

{% block header %}
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Погода</a></li>
    <li class="nav-item"><a href="{% url 'history' %}" class="nav-link">История</a></li>
    <li class="nav-item"><a href="{% url 'about-api' %}" class="nav-link">Об API</a></li>
    <li class="nav-item"><a href="{% url 'about-site' %}" class="nav-link">О сайте</a></li>
{% endblock %}

{% block body %}
    {% if status == 'ok' %}
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 text-center">
    {% endif %}

        <div class="px-6 py-0 my-0 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'main/img/icon.svg' %}" width="100" height="100">
            <h4 class="display-8 fw-bold">Введите населенный пункт</h4>
            <div class="col-lg-6 mx-auto">
                <form method="get">
                    <input type="text" class="form-control my-3" name="city" placeholder="Введите название города" value="{{ weather_data.input_city }}" required>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"><button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Узнать погоду</button></div>
                </form>
            </div>
        </div>

    {% if status %}
        {% if status == 'ok' %}
            <div>
                <h2 class="display-10 fw-bold">Погода в {{ weather_data.city }}:</h2>
                <h6 class="fw-semibold">Полный адрес: {{ weather_data.full_address }}</h6>
                <h6 class="fw-semibold">Координаты: {{ weather_data.lat }}, {{ weather_data.lon }} </h6>
                <h4 class="fw-bold">Погода: {{ weather_data.weather_description }}</h4>
                <h4 class="fw-bold">Температура: {{ weather_data.temperature }}°C</h4>
            </div>
        </div>
        {% elif status == 'city_not_found' %}
            <div class="alert alert-danger my-3 mx-5 fw-semibold text-center" role="alert">
                Город {{ weather_data.input_city }} не найден!
            </div>
        {% elif status == 'weather_error' %}
            <div class="alert alert-danger my-3 mx-5 fw-semibold text-center" role="alert">
                Произошла ошибка при получении погоды!
            </div>
        {% else %}
            <div class="alert alert-danger my-3 mx-5 fw-semibold text-center" role="alert">
                Произошла неизвестная ошибка!
            </div>
        {% endif %}
    {% endif %}
{% endblock %}